<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MD Render</title>
    <link href="{{ url_for('static', filename='css/md_render.css') }}" rel="stylesheet"></style>
</head>

<body>

    <script>const topic = "{{ topic }}";</script>
    <script src="{{ url_for('static', filename='js/md.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/md_render.js') }}" defer></script>
    

    <h1>MD Render Page</h1>

    <div id="content"></div>

    <br><br>
    <button id="load-news-button">Load News</button>
    <br><br>

    <div class="scroll-container" style="position: relative; width: 100%;">
        <button class="scroll-button left" id="scroll-left">&lt;</button>
        <div id="yt-news-container"></div>
        <button class="scroll-button right" id="scroll-right">&gt;</button>
    </div>

    <br><br>
    <button id="load-tutorial-button">Load Tutorial</button>
    <br><br>

    <div class="scroll-container" style="position: relative; width: 100%;">
        <button class="scroll-button left" id="scroll-left">&lt;</button>
        <div id="yt-tutorial-container"></div>
        <button class="scroll-button right" id="scroll-right">&gt;</button>
    </div>

    <br><br>
    <div class="test-container" style="display: flex; gap: 20px;">
        <div id="box-1">Text-1</div>
        <div id="box-2">Text-2</div>
    </div>
</body>

</html>