.node circle {
    fill: #ebdcdc;
    stroke: rgb(200, 24, 59);
    stroke-width: 3px;
    cursor: pointer;
}
.node text {
    font: 12px sans-serif;
}
.link {
    fill: none;
    stroke: #0cdc25f7;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}


body {
    width: 100%;
    height: 10%;
    margin: 0;
    background-color: #031925;
    color: #e7e7f1;
    font-family: Tahoma;
    font-size: 16px;
    cursor: grabbing;
}

h1,
p {
    color: white;
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #4f4a3b;
}

fieldset:last-of-type {
    border-bottom: none;
}

input {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input {
    background-color: #231a0a;
    border: 1px solid #0a0a23;
    color: blue;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
}

#mynetwork {
    border: 1px solid black;
    overflow: hidden;
    background-color: #b9f2f2;
    height: 100%;
    width: auto;
}

#mynetwork svg{
    width: 100%;
    height: 590px;
}

#reloadBtn{
    margin-left: 15%;
    margin-right: 12%;
    border: none;
    margin-top: calc(1em + 1.5px);
    height: 2rem;
    width: 21rem;
    font-size: medium;
    cursor: pointer;
}

#resource {
    margin-left: 12%;
    margin-right: 15%;
    border: none;
    margin-top: calc(1em + 1.5px);
    height: 2rem;
    width: 21rem;
    font-size: medium;
    cursor: pointer;
}